<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AdventureWorks2008R2Entities" connectionString="metadata=res://*/SalesPerson.csdl|res://*/SalesPerson.ssdl|res://*/SalesPerson.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=AdventureWorks2008R2;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>